<h1>Mettre à jour le Produit</h1>
<%= render "shared/form" %>
<!--
<%= simple_form_for @product do |f|%>
  <%= f.input :name, label: "Product Name", error: "Product Name is Mandatory", placeholder: "product name"%>
  <%= f.input :tagline, label: "Tagline", placeholder: "product description"%>
  <%= f.input :category, label: "Category Name", placeholder: "product category"%>
  <%= f.button :submit, label: "Mettre à jour"%>
<% end %>
 -->
