<%= link_to "Return Home", root_path %>
<h1>Details du produit</h1>
<p>
  Name: <%=@product.name%>
</p>
<p>
  TagLine: <%=@product.tagline%>
</p>
<p>
  Category: <%=@product.category%>
<!--   <br><%=@product.name%> -->
</p>
<%= link_to "Update Product", edit_product_path(@product) %>
<%= link_to "View all Products", products_path %>

